<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <meta name="title" content="Reuterskiöld">
    <meta name="description" content="Mattias Reuterskiöld Portfolio">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://portfolio.reuterskiold.dev/">
    <meta property="og:title" content="Reuterskiöld">
    <meta property="og:description" content="Mattias Reuterskiöld Portfolio">
    <meta property="og:image" content="https://portfolio.reuterskiold.dev/static/images/logo.png">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/base_style.css') }}" />    

    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/images/site.webmanifest">
    <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#9b9b78">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/static/images/browserconfig.xml">
    <meta name="theme-color" content="#ffd8d8">

    {% block head %}    {% endblock %}
  </head>

  <body>
    <div class="container">

      <div class="logo">
        <a href="{{url_for('index')}}">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Techniques">
        </a>        
      </div> <!-- end of logo -->

      <div class="menu">
        <a {% block menu_links_index_active %}{% endblock %}
           href="{{url_for('index')}}">
          <img src="{{ url_for('static', filename='images/home.png') }}" alt="Home">
        </a>
        <a {% block menu_links_projects_active %}{% endblock %}
           href="{{url_for('projects', search_val='all')}}">
          <img src="{{ url_for('static', filename='images/projects.png') }}" alt="Projects">
        </a>
        <a {% block menu_links_techniques_active %}{% endblock %}
           href="{{url_for('techniques')}}">
          <img src="{{ url_for('static', filename='images/techniques.png') }}" alt="Techniques">
        </a>
      </div> <!-- end of menu -->
      
      <div class="main">
        {% block main_content %}
        {% endblock %}
        <footer class="footer">
          Mattias Reuterskiöld © 2024
        </footer>  
      </div>
      
    </div>      <!-- end of container -->
  </body>
</html>
